body{
    background-color: #4C6444;
    color: #CABA9C;
    font-family: "Playwrite IS", cursive;
}
h1{
    font-size: 55px;

} 

p{
    font-size: 30px;
}

a{
    font-size: 30px;
    text-decoration: none;
    color: #5c3216;
    font-weight: bolder;
    
}

a:hover{
    color:#8A6240;
}

*{
  text-align: center;
}
